.cart_controls {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
}

.cc_section {
  margin: 5px;
}

.cc_clear_btn {
  width: 100%;
}

.cc_checkout_btn {
  width: 100%;
}